[Unit]
Description=Assignments API Service
After=network.target cloud-init.target
Wants=network.target cloud-init.target

[Service]
Type=simple
User=admin
WorkingDirectory=/opt/AssignmentsAPI/AssignmentsAPI
ExecStart=/usr/bin/node app.js
EnvironmentFile=/opt/AssignmentsAPI/AssignmentsAPI/.env
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target