[Unit]
Description=Assignments API Service
After=cloud-final.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/AssignmentsAPI/AssignmentsAPI
ExecStart=/usr/bin/node app.js
EnvironmentFile=/opt/AssignmentsAPI/AssignmentsAPI/.env
Restart=always
RestartSec=30

[Install]
WantedBy=cloud-init.target
